@page
@model IITCoreJobs.Pages.JobTags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-right" style="padding-bottom:10px;">
    <a class="btn btn-success" href="/JobTags/Create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; Create New</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>
                @Html.DisplayNameFor(model => model.JobTag[0].TagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int sl = 0; }
        @foreach (var item in Model.JobTag)
        {
        <tr>
            <td>@(++sl)</td>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa fa-eye btn btn-primary btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
