@page
@model IITCoreJobs.Pages.Jobs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobExperience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobExperience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.EducationDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.EducationDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.AgeLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.AgeLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.LastDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.LastDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.EmploymentStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.EmploymentStatus.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobCategory.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobTag.TagName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Job.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
