@page
@model IITCoreJobs.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-right" style="padding-bottom:10px;">
    <a class="btn btn-success" href="/Jobs/Create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; Create New</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].EducationDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].AgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].LastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].EmploymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobTag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int sl = 0; }
        @foreach (var item in Model.Job)
        {
        <tr>
            <td>@(++sl)</td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentStatus.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTag.TagName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa fa-eye btn btn-primary btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
