@page
@model IITCoreJobs.Pages.EmploymentSts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-right" style="padding-bottom:10px;">
    <a class="btn btn-success" href="/Create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; Create New</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmploymentStatus[0].TypeName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EmploymentStatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fa fa-edit btn btn-warning btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa fa-eye btn btn-primary btn-xs" aria-hidden="true"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fa fa-remove btn btn-danger btn-xs" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
